%header.header
  %ul.header__menu
    - if pilot_signed_in?
      %li.header__menu__lists
        = link_to t(".go_top"), root_path
      %li.header__menu__lists
        - if current_pilot.pilot_type == "pilot" && current_pilot.status == "active"
          = t(".welcome_pilot_active", user:current_pilot.email)
        - if current_pilot.pilot_type == "pilot" && current_pilot.status == "inactive"
          = t(".welcome_pilot_inactive", user:current_pilot.email)
        - elsif current_pilot.pilot_type == "traveller"
          = t(".welcome_traveller", user:current_pilot.email)
      %li.header__menu__lists
        = link_to t(".change_status"), change_pilot_status_path
      %li.header__menu__lists
        = link_to t(".reload_map"),  map_index_path, id: "reloadMap"