.outer-scratch
  .innner-scratch
    .background
      .pilot-main.grain
        = form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f|
          .text-input
            = f.email_field :email, autocomplete: "email"
            = f.label :email
          .text-input
            = f.password_field :password, autocomplete: "current-password"
            = f.label :password
          - if devise_mapping.rememberable?
            .text-input
              = f.check_box :remember_me
              = f.label :remember_me
          .regis-btn
            = f.submit t(".log_in")
