.main
  .main__vbox
    = video_tag "/videos/citybg.mp4", loop: true, autoplay: true, muted: true, class: "main__vbox__video"
    .main__vbox__top-menu
      .main__vbox__top-menu__in
        - if pilot_signed_in?
          %p
            Welcome,
            %span{style: "color: skyblue"}
              = current_pilot.email
            , you are a
            %span{style: "color: skyblue"}
              = current_pilot.status
          %span
            = link_to "logout", destroy_pilot_session_path, method: 'delete'
          %span
            = link_to "change your status", change_pilot_status_path
        - else
          %span{style: "color: skyblue"} Please, login or signup to login
          %span
            = link_to "signup", new_pilot_registration_path
          %span
            = link_to "login", new_pilot_session_path
        - if I18n.locale.to_s == "ja"
          %span
            = link_to "English", root_path("en")
        - else
          %span
            = link_to "日本語", root_path("ja")
    .main__vbox__center-menu
      %p Guide あぷり
      %ul.top-login-links
        %li
          = link_to "メールで登録", root_path, class: "top-login-links__link"
        %li
          = link_to "FaceBookで登録", root_path, class: "top-login-links__link"
        %li
          = link_to "Googleで登録", root_path, class: "top-login-links__link"

  .main__second
    %p test