.map-header
.map-wrapper
  .show-map#map
  .active-list-wrapper#list
    .active-list-pilots
      .pilot-image
        = image_tag 'IMG_9744.png'
      .pilot-info
        %p.pilot-name
          kartman
        %p.pilot-message
          = link_to 'メッセージ送信', '#'
    %p.pilot-details
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci deleniti aliquid, sunt eligendi 
    .active-list-pilots
      .pilot-image
        = image_tag 'IMG_9744.png'
      .pilot-info
        %p.pilot-name
          kartman
        %p.pilot-message
          = link_to 'メッセージ送信', '#'
    %p.pilot-details
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et beatae porro, hic eos consequatur quam maiores, veritatis ipsa quaerat quisquam quia similique? Placeat autem numquam officia quam in deserunt ad!
    .active-list-pilots
      .pilot-image
        = image_tag 'IMG_9744.png'
      .pilot-info
        %p.pilot-name
          kartman
        %p.pilot-message
          = link_to 'メッセージ送信', '#'
    %p.pilot-details
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et beatae porro, hic eos consequatur quam maiores, veritatis ipsa quaerat quisquam quia similique? Placeat autem numquam officia quam in deserunt ad!
    .active-list-pilots
      .pilot-image
        = image_tag 'IMG_9744.png'
      .pilot-info
        %p.pilot-name
          kartman
        %p.pilot-message
          = link_to 'メッセージ送信', '#'
    %p.pilot-details
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et beatae porro, hic eos consequatur quam maiores, veritatis ipsa quaerat quisquam quia similique? Placeat autem numquam officia quam in deserunt ad!
= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ @gmap_key }"